__pycache__/
cal/__pycache__/
.pyc
cache/
0/
output/
*.log
socket.dll
file_transfer.ini
/logs
mcc_out/
dead_leaves_data.xlsx
color_checker_results.xlsx
html/
app_cache/
triangle/
.venv/
.conda/
*.cpp
log/
*.pyc
cache/
.kiro/
ffmpeg/


